@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(234, 246, 252);
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    background: rgb(19, 19, 19);
    margin-bottom: 0;
    
}
nav .profile {
    display: flex;
    align-items: center;
    margin-left: 2%;
}
nav .profile p {
    margin-left: 10px;
    font-size: 20px;
    color: white;  
}
nav .profile p .nom {
    text-transform: uppercase;
    border-bottom: 3px solid red;
}
nav ul {
    /* margin-right: 2%; */
    display: flex;
    list-style-type: none;
    margin-right: 150px;
    
}
nav ul li {
    margin-left: 50px;
    cursor: pointer;
    color: white;
    border-color: rgb(19, 19, 19);
}
nav ul  a {
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    border-bottom: 2px solid white;
}
.textAccroche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgb(19, 19, 19);
    color: white;
    text-align: center;
}
.textAccroche h1 {
    margin: 30px;
    font-size: 2rem;
}
.cv {
    margin-top: 8px;
    padding: 10px;
    font-size: 30px;
    color: rgb(230, 26, 26);
    border: 2px solid rgb(230, 26, 26);
    border-radius: 10px;
    text-decoration: none;
}
.cv:hover {
    transform: scale(1.2);
}
.description {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}
.presentation p {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    margin: 0 15px;
}
.presentation h2 {
    text-decoration: underline;
}
.reseau {
    margin: 30px;
}
.presentation .fab {
    font-size: 40px;
    padding: 15px;
    color: rgb(19, 19, 19);
}
.imageProfil {
    height: 400px;
    margin-left: 100px;
}
.imageProfil img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.infosCompetences {
    margin: 0 auto;
    background: rgb(19, 19, 19);
    height: 600px;
    width: 100%;
}
.competences h2 {
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.flexCompetences {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.competences .langages {
    color: white;
    margin-left: 100px;
}
.competences {
    width: 600px;
}
.detail p {
    color: white;
    text-align: center;
    margin: 30px 50px;
}
.container {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 0 auto;
}
.skills {
    text-align: right;
    padding-top: auto;
    padding-bottom: auto;
    color: rgb(2, 2, 2);
}
  
.html {
    width: 60%; 
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.css {
    width: 50%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.js {
    width: 40%; 
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.php {
    width: 40%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.sql {
    width: 45%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.joomla {
    width: 45%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.softskills {
    width: 40%;
}
.softskills h2 {
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.softskills p {
    color: white;
    font-size: 20px;
    margin: 10px;
    width: 250px;
}
.essai {
    margin-top: 45px;
}
.softskills .fas {
    padding: 10px;
    margin-right: 15px;
}
.trait1, .trait4 {
    width: 250px;
    height: 3px;
    background: red;
    border: none;
    margin-top: 0;
}
.trait2 {
    width: 150px;
    height: 3px;
    background: red;
    border: none;
    margin-top: 0;
}
.trait3 {
    width: 150px;
    height: 3px;
    background:rgb(19, 19, 19);
    border: none;
    margin-top: 0;
}

.projet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mapassion, .concours-chants, .passionJoomla, .photomaeght {
    margin: 20px;
    width: 450px;
    border-radius: 10px;
}
.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.porteFolio h2 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
    margin-bottom: 0;
}
.porteFolio p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    margin: 30px 60px;
    text-align: center;
}
footer {
    /* height: 300px; */
    background: rgb(19, 19, 19);
}
footer h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
    padding-top: 30px;
}
.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contact p {
    margin-top: 80px;
    margin: 50px 20px 30px;
    color: white;
    font-size: 20px;
}
.contact .mail {
    width: 300px;
}
.contact .mail a {
    color: #0cbfd6;
}
.contact .reseauSociaux {
    width: 300px;
}
.contact .reseauSociaux .fab {
    font-size: 40px;
    padding: 15px;
    color: white;
}
.fab:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 999px) {
    .presentation {
        width: 60%;
    }
    .infosCompetences {
        height: 1100px;
    }
    .softskills h2 {
        margin-top: 80px;
    }
    .competences h2 {
        margin-top: 50px;
    }
    .competences {
        width: 90%;
    }
    .imageProfil {
        height: auto;
        margin-left: 0px;
    }
}
@media screen and (max-width: 979px) {
    .mapassion, .concours-chants, .passionJoomla {
        width: 60%;
    }
}
@media screen and (max-width: 829px) {
    .profile p{
        text-align: center;
    }
}
@media screen and (max-width: 659px) {
    .contact .mail {
        width: 80%;
    }
    .contact .reseauSociaux {
        width: 80%;
    }
}
@media screen and (max-width: 542px) {
    .essai {
        transform: translateX(-50px);
    }
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .intro header {
        margin-top: 10%;
        max-width: 100%;
    }
    .description {
        display: block;
    }
    .description img {
        max-width: 100%;
        margin: 10px auto;
    }
    .description p {
        margin-left: 15px;
    }
    .presentation {
        width: 100%;
    }
    .presentation h2 {
        margin: 5px auto;
    }
    
}
@media screen and (max-width: 380px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .intro header {
        margin-top: 10%;
        max-width: 100%;
    }
    
}