@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    /* padding: 0;
    margin: 0; */
    background: rgb(234, 246, 252);
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    background: rgb(19, 19, 19);
    margin-bottom: 0;
    
}
nav .profile {
    display: flex;
    align-items: center;
    margin-left: 2%;
}
nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    color: white;  
}
nav .profile h1 .nom {
    text-transform: uppercase;
    border-bottom: 3px solid red;
}
nav ul {
    margin-right: 2%;
    display: flex;
    list-style-type: none;
    margin-right: 150px;
    
}
nav ul li {
    margin-left: 50px;
    cursor: pointer;
    color: white;
    border-color: rgb(19, 19, 19);
}
nav ul  a {
    text-decoration: none;
}
nav ul li:hover {
    border-bottom: 2px solid white;
}
.textAccroche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgb(19, 19, 19);
    color: white;
    text-align: center;
}
.textAccroche p {
    margin: 30px;
    font-size: 2rem;
}
.far {
    margin-top: 10px;
    font-size: 35px;
    color: rgb(230, 26, 26);
}
.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.presentation {
    width: 30%;
    margin: auto;
}
.presentation p {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}
.presentation h2 {
    border-bottom: 3px solid black;
    width: 110px;
}
.presentation .fab {
    font-size: 40px;
    padding: 15px;
    color: rgb(19, 19, 19);
}
.imageProfil img {
    height: 400px;
    margin-left: 100px;
    /* margin-bottom: 100px; */
}
.infosCompetences {
    margin: 0 auto;
    background: rgb(19, 19, 19);
    height: 600px;
    width: 100%;
}
.competences h2 {
    /* padding: 10px; */
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.flexCompetences {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.competences p {
    color: white;
    margin-left: 100px;
}
.competences {
    width: 60%;
}
.detail {
    width: 50%;
}
.detail p {
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 200px;
}
.container {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    margin-left: 50px;
}
.skills {
    text-align: right;
    padding-top: auto;
    padding-bottom: auto;
    color: rgb(2, 2, 2);
}
  
.html {
    width: 60%; 
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.css {
    width: 50%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.js {
    width: 40%; 
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.php {
    width: 40%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.sql {
    width: 45%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.joomla {
    width: 45%;
    background-color: #0cbfd6;
    border-radius: 10px;
    height: 20px;
}
.softskills {
    width: 40%;
}
.softskills h2 {
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.softskills p {
    color: white;
    font-size: 20px;
    margin: 10px;
}
.softskills .fas {
    padding: 10px;
    margin-right: 15px;
}
.trait1, .trait4 {
    width: 250px;
    height: 3px;
    background: red;
    border: none;
    margin-top: 0;
}
.trait2 {
    width: 150px;
    height: 3px;
    background: red;
    border: none;
    margin-top: 0;
}
.trait3 {
    width: 150px;
    height: 3px;
    background:rgb(19, 19, 19);
    border: none;
    margin-top: 0;
}
.porteFolio {
    height: 500px;
}
.projet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projet img {
    height: 250px;
}
.porteFolio h2 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
    margin-bottom: 0;
}
.porteFolio p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    margin: 30px;
    text-align: center;
}
footer {
    height: 300px;
    background: rgb(19, 19, 19);
}
footer h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
    padding-top: 30px;
}
.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.contact p {
    margin-top: 80px;
    color: white;
    font-size: 20px;
}
.contact .mail {
    width: 40%;
}
.contact .mail a {
    color: #0cbfd6;
}
.contact .reseau {
    width: 40%;
}
.contact .reseau .fab {
    font-size: 40px;
    padding: 15px;
    color: white;
}
.fab:hover {
    transform: scale(1.2);
}











@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .intro header {
        margin-top: 10%;
        max-width: 100%;
    }
    .description {
        display: block;
    }
    .description img {
        max-width: 100%;
        margin: 10px auto;
    }
    .description p {
        margin-left: 15px;
    }
    .presentation {
        width: 100%;
    }
    .presentation h2 {
        margin: 5px auto;
    }
    .infosCompetences {
        height: 700px;
    }
    .infosCompetences .detail p {
        margin-left: 120px;
    }
    .projet {
        display: block;
    }
    footer {
       margin-top: 600px;
       width: 100%;
       height: 400px;
    }
}